
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Settings</h1>

<button>@Html.ActionLink("Post Full Stock", "PostFullStock", "Settings")</button>

<h3>Stock was uploaded with status:</h3>
<h3>@ViewBag.Message</h3>
